:root {
    --gap: 1rem;
    --height: 2rem;
    --color1: #d38e8e;
    --color2: #8a5454;
    --color3: #ff6347;
    --radius: 4px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4f5ea;
}

.header, .footer {
    background-color: #a4ccec;
    color: #fff;
    padding: 1rem;
}

.header-nav, .footer-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main {
    padding: 2rem;
}

.article, .sidebar {
    margin-bottom: 2rem;
}

/* .header .blog-title, .header .title-link {
    color: #ff6;
}

.header .title-link:hover {
    color: #3336ff;
} */